<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KTUGPT - ChatGPT for KTU</title>
</head>

<body>
    <h1>KTUGPT - ChatGPT for KTU</h1>
    <h2>Deployment</h2>
    <p>Front-end is deployed <a href="https://test-ktugpt.vercel.app" target="_blank">here</a></p>
    <p>Back-end is deployed <a href="https://huggingface.co/spaces/KTUGPT/KTUGPT" target="_blank">here</a></p>
    <h2>Source code</h2>
    <p><a href="https://github.com/swsrkty/ktugpt" target="_blank">Front-end - GitHub</a></p>
    <p><a href="https://github.com/sameemul-haque/ktugpt-python" target="_blank">Back-end - GitHub</a></p>
</body>

</html>